*, *::before, *::after {
    box-sizing: border-box;
}
html, body { margin: 0; padding: 0; width: 100%; min-height: 100%;}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.lang {
    text-align: center;  
}
.header_logo{
    margin-bottom: 10px;
    margin-top: 10px;
}


.main_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article h1 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 20px;
    text-decoration: underline;
}

article h3 {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

article p {
    font-size: 15px;
    padding-left: 20px;
}

.picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    flex-wrap: wrap;
}

.footer {
    margin-top: 25px;
}

.footer_nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}

.footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mentions {
    text-align: center;   
}


@media screen and (min-width: 900px) {

  .header{
    display: grid;
    background-color: aquamarine;
    grid-column-start: 3;
  } 

}
